# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment (jika ada di dalam proyek)
venv/
.venv/
env/

# Folder hasil compile / distribusi
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/

.LAPORAN_TAHAP_2.md
.check.md
